@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}
.content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
    color: var(--color-text);
}
.title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
        rgba(255,255,255,1) 70%,
        rgba(255,255,255,0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.desc {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 50px;  
}
.contact {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 60px;
    font-size: 30px;
    font-weight: 500px;
    padding: 15px 18px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
}

.heroImg {
    width: 30%;
    mix-blend-mode: multiply;
    z-index: 1 ;
    border-radius: 50%;

    animation: floating 3s infinite ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0px);
    }
}
.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    top: -120px;
    left: 3vw;
    border-radius: 760px;
    background: var(--color-dark);
    filter: blur(100px);
    z-index: 0;
}
 

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
    }
    .content {
         text-align: center;
         align-items: center;
    }
    .heroImg {
        margin-bottom: 50px;
        width: 50%;
    }
    .topBlur {
        display: none;
    }
}
